{{/* Restored bottom transfer ticker. Do not put literal \n in this file. */}}
{{ $pages := where .Site.RegularPages "Section" "transfers" }}
{{ if gt (len $pages) 0 }}
<div class="transfer-ticker transfer-ticker--bottom" aria-label="Нижняя трансферная строка">
  <div class="transfer-ticker__viewport">
    <div class="transfer-ticker__track transfer-ticker__track--reverse">
      {{ range first 16 $pages.ByDate.Reverse }}
        <a class="transfer-ticker__item" href="{{ .RelPermalink }}">
          <span class="transfer-ticker__badge">{{ or .Params.status_label "ТРАНСФЕР" }}</span>
          <span class="transfer-ticker__player">{{ or .Params.player .Params.player_name .Title }}</span>
          {{ with (or .Params.club_to .Params.to .Params.to_club .Params.new_club) }}
            <span class="transfer-ticker__arrow">→</span>
            <span class="transfer-ticker__club">{{ . }}</span>
          {{ end }}
        </a>
      {{ end }}
      {{ range first 16 $pages.ByDate.Reverse }}
        <a class="transfer-ticker__item" href="{{ .RelPermalink }}" aria-hidden="true" tabindex="-1">
          <span class="transfer-ticker__badge">{{ or .Params.status_label "ТРАНСФЕР" }}</span>
          <span class="transfer-ticker__player">{{ or .Params.player .Params.player_name .Title }}</span>
          {{ with (or .Params.club_to .Params.to .Params.to_club .Params.new_club) }}
            <span class="transfer-ticker__arrow">→</span>
            <span class="transfer-ticker__club">{{ . }}</span>
          {{ end }}
        </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
