<!DOCTYPE html>

<html lang="ru">

<head>
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">

<meta charset="UTF-8">

<title>{{ .Title }} - Promyachik</title>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

{{ partial "favicon.html" . }}
    <link rel="stylesheet" href="{{ "css/transfer-player-market-value-chart.css" | relURL }}">
    <script defer src="{{ "js/transfer-player-market-value-chart.js" | relURL }}"></script>

<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
</head>


<body>

{{ partial "header.html" . }}


<main>

{{ block "main" . }}

{{ end }}

</main>


    <script src="{{ "js/ticker-transfer-tab.js" | relURL }}" defer></script>

{{ partial "ramos-hardfix-v211.html" . }}
</body>

</html>